.FocusBox {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    width: 100%;
    max-width: 1200px;
    padding: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: all 0.3s ease;
}

.ContenidoFocusBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Espacio entre el SessionBox y los relojes */
    width: 100%;
}

/*Contenedor para los relojes y botones, para que se apilen verticalmente */
.ContenedorTimers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; /* Espacio entre el reloj principal, los secundarios y el botón */
}

.BotonesContainer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.BotonAccion {
    background-color: #0f4335;
    color: #f2f0e9;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.BotonAccion:hover {
    background-color: #136c54;
    transform: translateY(-2px);
}


.RelojesSecundariosContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* Espacio entre los dos relojes pequeños */
    width: 100%;
}

/* FocusBox.css */

/* --- AÑADIR ESTE ESTILO AL FINAL DEL ARCHIVO --- */
.MensajeError {
    color: #c74343;
    /* Un color rojo para la alerta */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    margin-top: 15px;
    /* Espacio para separarlo del botón */
    text-align: center;
    width: 100%;
}

.BotonDetener {
    background-color: #8c2a2a;
    /* Un color rojizo para indicar una acción destructiva */
}

.BotonDetener:hover {
    background-color: #a83b3b;
}