.RelojInteractivo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e0dccc;
  border-radius: 15px;
  padding: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
  transition: transform 0.2s ease;
  color: #0f4335;
  user-select: none;
}

.DigitGroup {
  display: flex;
  gap: 2px;
}

.DigitColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DigitColumn span {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: 1;
}

.DigitColumn button {
  background: transparent;
  border: none;
  color: #0f4335;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease;
  line-height: 1;
  padding: 0 8px;
}

.RelojInteractivo:hover .DigitColumn button {
  opacity: 0.5;
}

.DigitColumn button:hover {
  opacity: 1 !important;
  transform: scale(1.1);
}

.Separator {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}


/* Reloj Principal */
.RelojInteractivo.principal .DigitColumn span {
  font-size: 6rem;
}

.RelojInteractivo.principal .DigitColumn button {
  font-size: 1.5rem;
}

.RelojInteractivo.principal .Separator {
  font-size: 5rem;
  padding-bottom: 10px;
}

/* Reloj Secundario */
.RelojInteractivo.secundario .DigitColumn span {
  font-size: 2.5rem;
}

.RelojInteractivo.secundario .DigitColumn button {
  font-size: 1rem;
}

.RelojInteractivo.secundario .Separator {
  font-size: 2rem;
  padding-bottom: 5px;
}

.RelojWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.RelojTitulo {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #0f4335;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.RelojWrapper.secundario .RelojTitulo {
  font-size: 0.9rem;
}
.RelojWrapper.activo .RelojTitulo {
  opacity: 1;
  color: #5da872;
}

.RelojWrapper.activo .RelojInteractivo {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 0 0 15px #5da872;
}

/* estilo para los botones cuando el temporizador está corriendo */
.DigitColumn button:disabled {
  opacity: 0 !important;
  cursor: not-allowed;
}

.ContenidoReloj {
  display: flex;
  align-items: center;
  gap: 15px;
}