*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#bcd26b;
}

h1 {
  color: #0f4335;
}

body {
  margin: 0;
  background-color: #CADC9F; 
  font-family: sans-serif;
}

.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}


.ContenidoPrincipal {
  flex-grow: 1; 
  display: grid;
  place-items: center;
}